body {
    font-family: 'Karla', sans-serif;
    background-color: #f2f3f8;
}

.bd-wizard-wrapper {
    width: calc(100% - 320px);
    margin-left: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 991px) {
    .bd-wizard-wrapper {
        width: calc(100% - 230px);
        margin-left: 230px;
	}
}
@media (max-width: 767px) {
    .bd-wizard-wrapper {
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
	}
}

.bd-wizard-card {
    max-width: 725px;
    width: 100%;
    border-radius: 10px;
    border: 0;
}
.bd-wizard-card .card-body {
    padding: 40px 40px;
}
@media (max-width: 991px) {
    .bd-wizard-card .card-body {
        padding-left: 26px;
        padding-right: 26px;
	}
}
@media (max-width: 767px) {
    .bd-wizard-card .card-body {
        padding: 24px;
	}
}

/* Wizard */
.wizard {
    padding: 20px;
}
.wizard .audible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.wizard .steps {
    position: fixed;
    width: 320px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #1abc9c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 991px) {
    .wizard .steps {
        width: 230px;
	}
}
@media (max-width: 767px) {
    .wizard .steps {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: calc(100% + 15px);
        width: 100%;
        justify-content: stretch;
        padding: 10px 0;
        border-radius: 10px;
	}
}
.wizard .steps > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    flex-direction: column;
}
@media (max-width: 767px) {
    .wizard .steps > ul {
        flex-direction: row;
        width: 100%;
	}
}
@media (max-width: 767px) {
    .wizard .steps > ul li {
        width: 25%;
	}
}
.wizard .steps > ul li a {
    display: block;
    padding: 25px 0;
}
@media (max-width: 767px) {
    .wizard .steps > ul li a {
        padding: 0;
        text-align: center;
	}
}
.wizard .steps > ul li a:hover {
    text-decoration: none;
}
.wizard .steps > ul li .bd-step-title-wrapper {
    color: #fff;
}
.wizard .steps > ul li .bd-wizard-step-icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin-bottom: 13px;
    opacity: 0.5;
}
@media (max-width: 767px) {
    .wizard .steps > ul li .bd-wizard-step-icon {
        margin: 0 auto;
        font-size: 25px;
	}
}
.wizard .steps > ul li .bd-wizard-step-title {
    font-size: 18px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 4px;
}
@media (max-width: 767px) {
    .wizard .steps > ul li .bd-wizard-step-title {
        display: none;
	}
}
.wizard .steps > ul li .bd-wizard-step-subtitle {
    font-size: 15px;
    line-height: 18px;
	opacity: 0.5;
    color: #fff;
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .wizard .steps > ul li .bd-wizard-step-subtitle {
        display: none;
	}
}
.wizard .steps > ul li.current .bd-wizard-step-icon, .wizard .steps > ul li.done .bd-wizard-step-icon {
    opacity: 1;
}
.wizard .steps > ul li.current .bd-wizard-step-title, .wizard .steps > ul li.done .bd-wizard-step-title, .wizard .steps > ul li.current .bd-wizard-step-subtitle, .wizard .steps > ul li.done .bd-wizard-step-subtitle {
    opacity: 1;
}
.wizard .content {
    margin-bottom: 30px;
}
.wizard .content .logo {
    height: 21px;
    margin-bottom: 16px;
}
.wizard .content .title {
    display: none;
}
.wizard .content .section-heading {
    font-weight: bold;
    color: #030303;
    margin-bottom: 15px;
}
.wizard .content .section-heading + p {
    margin-bottom: 52px;
}
.wizard .content p {
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    opacity: 0.44;
}
.wizard .content .form-group {
    margin-bottom: 25px;
}
.wizard .content .form-control {
    padding: 16px 10px;
    min-height: 45px;
    border-radius: 4px;
    border: solid 1px #ececec;
}
.wizard .content .form-control::-webkit-input-placeholder {
    color: #919aa3;
}
.wizard .content .form-control::-moz-placeholder {
    color: #919aa3;
}
.wizard .content .form-control:-ms-input-placeholder {
    color: #919aa3;
}
.wizard .content .form-control::-ms-input-placeholder {
    color: #919aa3;
}
.wizard .content .form-control::placeholder {
    color: #919aa3;
}
.wizard .content .purpose-radio {
    position: relative;
    display: inline-block;
}
.wizard .content .purpose-radio .purpose-radio-input {
    position: absolute;
    opacity: 0;
}
.wizard .content .purpose-radio .purpose-radio-input:checked + .purpose-radio-label {
    border-color: #1abc9c;
}
.wizard .content .purpose-radio .purpose-radio-input:checked + .purpose-radio-label .label-icon {
    color: #1abc9c;
}
.wizard .content .purpose-radio .purpose-radio-input:checked + .purpose-radio-label .label-icon .label-icon-default {
    display: none;
}
.wizard .content .purpose-radio .purpose-radio-input:checked + .purpose-radio-label .label-icon .label-icon-active {
    display: inline-block;
}
.wizard .content .purpose-radio .purpose-radio-input:checked + .purpose-radio-label .label-text {
    color: #1abc9c;
    font-weight: bold;
}
.wizard .content .purpose-radio .purpose-radio-label {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 2px solid #7b7f89;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
@media (max-width: 575px) {
    .wizard .content .purpose-radio .purpose-radio-label {
        width: 100%;
	}
}
.wizard .content .purpose-radio .purpose-radio-label .label-icon {
    font-size: 21px;
    color: #000000;
    margin-bottom: 17px;
    transition: all 0.2s ease-in-out;
}
.wizard .content .purpose-radio .purpose-radio-label .label-icon .label-icon-active {
    display: none;
}
.wizard .content .purpose-radio .purpose-radio-label .label-text {
    font-size: 20px;
    color: #030303;
    transition: all 0.2s ease-in-out;
}
.wizard .content .purpose-radios-wrapper {
    /*margin-top: 60px;*/
}
.wizard .content .purpose-radios-wrapper .purpose-radio {
    /*margin-right: 18px;*/
    /*max-width: calc(33% - 18px);*/
}
@media (max-width: 575px) {
    .wizard .content .purpose-radios-wrapper .purpose-radio {
        margin-right: 0;
        margin-bottom: 18px;
        width: 100%;
        max-width: none;
	}
}
.wizard .content .purpose-radios-wrapper .purpose-radio:last-child {
    margin-right: 0;
}
.wizard .actions > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
}
.wizard .actions li {
    margin-left: 12px;
}
.wizard .actions li:first-child, .wizard .actions li:first-child.disabled + li {
    margin-left: 0;
}
.wizard .actions li a {
    display: inline-block;
    border-radius: 6px;
    background-color: #1abc9c;
    padding: 16px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.wizard .actions li a:hover {
    text-decoration: none;
}
.wizard .actions li.disabled {
    display: none;
}
.label-style {
	font-weight: bold;
	line-height: 40px;
}
.select2-container{
	width: 100% !important;
}
.select2-container--default .select2-selection--single{
	padding: 8px 10px;
	min-height: 45px;
	border-radius: 4px;
	border: solid 1px #ececec;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	top: 75% !important;
}

.select2-results__group, #select2-countryId-result-ywg1-0{
	display: none !important;
}
#select2-countryId-results li ul>li:first-child{
	display: none !important;
}
.alpha {
	padding-left: 0px !important;
}
.datepicker-dropdown {
	width: fit-content;
}
.datepicker td, .datepicker th {
	padding: 5px 10px;
}
.datepicker-dropdown.datepicker-orient-left:after,
.datepicker-dropdown.datepicker-orient-left:before {
	right: unset;
}
.text-default{
	font-size: 15px;
	color: #AAA;
}
.label-icon img{
	width: 100px;
}
