/*Global*/
.alpha {
	padding-left: 0px !important;
}
.omega {
	padding-right: 0px !important;
}
.hidden {
	display: none;
}
.modal-body {
	padding: 15px 40px;
}
#modals .solid-black, .solid-black {
	border-right: 1px solid #e9ecef;
}
.label-style {
	font-weight: bold;
}
.label-number {
	font-size: 17px;
	color: #4a6076;
}
.response h5 {
	padding-bottom: 5px !important;
	color: #e74c3c;
}
.dt-action .btn {
	padding: 0px 8px;
}
.dt-action .btn i {
	margin-right: 0px;
}
.dt-action .dropdown-toggle::after {
	display: none;
}
.dt-action .dropdown-menu {
	top: 5px !important;
	left: -20px !important;
}
.image-dt {
	width: 45px;
	border-radius: 50%;
	height: 45px;
}
input:read-only:hover {
	cursor: not-allowed;
}
input:disabled:hover, button:disabled:hover {
	cursor: not-allowed !important;
}
.datepicker-dropdown {
	width: fit-content;
}
.datepicker td, .datepicker th {
	padding: 5px 10px;
}
.datepicker-dropdown.datepicker-orient-left:after,
.datepicker-dropdown.datepicker-orient-left:before {
	right: unset;
}
.l-h-25 {
	line-height: 25px;
}
.l-h-30 {
	line-height: 30px;
}
.l-h-35 {
	line-height: 35px;
}
.l-h-40 {
	line-height: 40px;
}
.l-h-45 {
	line-height: 45px;
}
.header-section hr{
	margin-top: 0.3rem !important;
	margin-bottom: 1.3rem !important;
}
.header-section button i {
	margin-right: 0px !important;
}
.click {
	cursor: pointer;
}
.header-section h5 {
	margin-bottom: 0;
	color: #757575;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
}
.modal .modal-header span {
	opacity: 0.3;
}
.table td, .table th {
	padding: .75rem 0.35rem;
	vertical-align: top;
	border-top: 1px solid #eceeef;
}
.fz13px{
	font-size: 13px;
}
table.dataTable  tbody td {
	line-height: 45px !important;
}
#close-document .btn {
	padding: 0px 8px;
}
#close-document .btn i {
	margin-right: 0px;
}
#close-document .dropdown-toggle::after {
	display: none;
}
#close-document .dropdown-menu {
	top: 0px !important;
	left: -25px !important;
}
.pointer{
	cursor: pointer;
}

/*Users*/
#modals #users.modal-lg {
	max-width: 800px;
}
.password .toogle-password {
	font-size: 25px;
	line-height: 40px;
	cursor: pointer;
}

#modals #books.modal-lg {
	max-width: 600px;
}

#modals #editorial.modal-lg {
	max-width: 500px;
}
.swal2-z-indez {
	z-index: 11111111111 !important;
}
